<!DOCTYPE html>
<html>
{% include 'header.html.twig' %}
<body>
<header id="topnav">
    <div class="topbar-main">
        <div class="container-fluid">

            <!-- Logo container-->
            <div class="logo">
                <!-- Text Logo -->
                <!--<a href="index.html" class="logo">-->
                <!--UBold-->
                <!--</a>-->
                <!-- Image Logo -->
                <a href="index-2.html" class="logo">
                    <img src="{{ asset('assets/images/logo_dark.png') }}" alt="" height="20" class="logo-lg">
                    <img src="{{ asset('assets/images/logo_sm.png') }}" alt="" height="24" class="logo-sm">
                </a>

            </div>
            <!-- End Logo container-->


            <div class="menu-extras topbar-custom">

                <ul class="list-inline float-right mb-0">

                    <li class="menu-item list-inline-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle nav-link">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </li>

                    <li class="list-inline-item dropdown notification-list">
                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <img src="{{ asset('assets/images/users/avatar-1.jpg') }}" alt="user" class="rounded-circle">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                            <!-- item-->
                            <a href="{{ path('fos_user_profile_show') }}" class="dropdown-item notify-item">
                                <i class="md md-account-circle"></i> <span>Profile</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="md md-settings"></i> <span>Settings</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="md md-lock-open"></i> <span>Lock Screen</span>
                            </a>

                            <!-- item-->
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                            <a href="{{ path('fos_user_security_logout') }}" class="dropdown-item notify-item">
                                <i class="md md-settings-power"></i> <span>  {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</span>
                            </a>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}" class="dropdown-item notify-item">
                                <i class="ion-log-in"></i> <span> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</span>
                            </a>
                        {% endif %}
                        </div>
                    </li>

                </ul>
            </div>
            <!-- end menu-extras -->

            <div class="clearfix"></div>

        </div> <!-- end container -->
    </div>
    <!-- end topbar-main -->

    <div class="navbar-custom">
        <div class="container-fluid">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">

                    <li class="has-submenu">
                        <a href="#"><i class="md md-dashboard"></i>Dashboard</a>
                    </li>

                    <li class="has-submenu">
                        <a href="#"><i class="md md-color-lens"></i>User Master</a>
                        <ul class="submenu">
                            <li><a href="ui-buttons.html"><span>ShowRoom</span></a></li>
                            <li><a href="ui-loading-buttons.html"><span>Sales Head</span></a></li>
                            <li><a href="ui-cards.html"><span>Sales Executive</span> </a></li>

                        </ul>
                    </li>

                    <li class="has-submenu">
                        <a href="#"><i class="md md-layers"></i>Master</a>
                        <ul class="submenu">
                            <li><a href="ui-buttons.html"><span>Category</span></a></li>
                            <li><a href="ui-loading-buttons.html"><span>Sub Category</span></a></li>
                            <li><a href="ui-cards.html"><span>Size</span> </a></li>
                            <li><a href="ui-cards.html"><span>Brand</span> </a></li>
                            <li><a href="ui-cards.html"><span>Product</span> </a></li>
                        </ul>
                    </li>

                    <li class="has-submenu">
                        <a href="#"><i class="md md-class"></i>Reports</a>
                        <ul class="submenu">
                            <li class="has-submenu">
                                <a href="#"><span> Stock</span></a>
                                <ul class="submenu">
                                    <li><a href="ui-buttons.html"><span>ShowRoom</span></a></li>
                                    <li><a href="ui-loading-buttons.html"><span>Sales Head</span></a></li>
                                    <li><a href="ui-cards.html"><span>Sales Executive</span> </a></li>

                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="#"><span> Sales</span></a>
                                <ul class="submenu">
                                    <li><a href="ui-buttons.html"><span>ShowRoom</span></a></li>
                                    <li><a href="ui-loading-buttons.html"><span>Sales Head</span></a></li>
                                    <li><a href="ui-cards.html"><span>Sales Executive</span> </a></li>

                                </ul>
                            </li>

                        </ul>
                    </li>

                    <li class="has-submenu">
                        <a href="#"><i class="md md-pages"></i>pOs</a>
                    </li>

                    <li class="has-submenu">
                        <a href="#"><i class="md md-folder-special"></i>Return pOs</a>
                    </li>
                </ul>
                <!-- End navigation menu -->
            </div> <!-- end #navigation -->
        </div> <!-- end container -->
    </div> <!-- end navbar-custom -->
</header>
{%  block body %}
{% endblock %}
</body>
{% include 'footer.html.twig' %}
</html>
